<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{url_for('static', filename='dashboard.css')}}">
    <title>Dashboard</title>
</head>
<body>
     <div class="box">
        <div class="w-box">

            <div class="card">
                <h3>🌤️ Weather in {{ city }}</h3>
                <p>Temperature : {{ temp }}°C</p>
                <p>Description : {{ desc }}</p>
            </div>
        </div>
        <h2>🎉 Welcome to the Dashboard</h2>
        <p>Hello, <strong>{{ name }}</strong>! You are now logged in.</p>
        <form action="/logout" method="get">
          <button type="submit" >
             Logout
          </button>
        </form>
    </div>
</body>
</html>




